{{>header}}

<div class="container">
    <h2>Administrar cursos</h2>
</div>

<div class="container">

    {{{mensajeError}}}

    <div class="row">
        <div class="col-sm-12">
            <a href="/crearCurso">Nuevo curso</a>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each cursos}}
                <tr>
                    <th scope="row">
                        <a href="/administrarCurso?id={{this.id}}">{{this.id}}</a>
                    </th>
                    <td>{{this.nombre}}</td>
                    <td>{{formatNumber this.valor style="currency" currency="USD"}}</td>
                    <td>{{this.modalidad}}</td>
                    <td>{{this.estado}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{>footer}}