{{>header}}

<div class="container">
    <div class="jumbotron">
        <h2 class="display-4">{{curso.nombre}}</h1>
    </div>
    <h2>{{curso.id}}</h2>
    <p>
        {{curso.descripcion}}
    </p>
    <h5>
        Valor:
        <small class="text-muted">{{formatNumber curso.valor style="currency" currency="USD"}}</small>
    </h5>
    <h5>
        Modalidad:
        <small class="text-muted">{{curso.modalidad}}</small>
    </h5>
    <h5>
        Intensidad horaria:
        <small class="text-muted">{{curso.intensidad}}</small>
    </h5>
    {{#if curso.docente}}
        <h5>
            Docente:
            <small class="text-muted">{{curso.docente.nombre}}</small>
        </h5>
    {{/if}}

    <div class="row">
        <div class="col-sm-1">
            <a href="/listarCursos" class="btn btn-info">Volver</a>
        </div> 
        <div class="col-sm-1">
            <a href="/inscribirCurso?curso={{curso.id}}" class="btn btn-primary">Inscribirse</a>
        </div>
    </div>
</div>
{{>footer}}